@use "variables" as *;

.input {
  outline: none;
  border: none;
  width: 100%;
  &--controlled {
    &:focus {
      background-color: #ffffff;
      border: none;
    }
  }
  &--disabled {
    background-color: #fafafa;
  }
}
