//font-family
$openSans: "openSans";
$ptSerif: "ptSerif";
// size
$xs: "xs";
$sm: "sm";
$md: "md";
$lg: "lg";
$xl: "xl";

//font-weight
$normal: normal;
$bold: bold;

//display
$flex: flex;
$block: block;
$inline: inline;
$inlineBlock: inline-block;
$none: none;

// flex
$row: row;
$column: column;
$wrap: wrap;
$nowrap: nowrap;
$reverse: row-reverse;
