.navigation {
  position: fixed;
  inset: 1rem;
  width: 3rem;
  background: #287bff;
  border-radius: 1.5rem;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
